@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  background: rgb(133,35,124);
  background: linear-gradient(135deg, rgba(133,35,124,1)35%, rgba(0,255,255,1) 100%);
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5rem;
}


p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-container {
  position: relative;
  top: 20%;
  max-height: 100vh;
  max-width: 35em;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1vw;
  box-shadow: 0 0 3px rgb(255, 68, 239);
  outline:  solid rgba(255, 69, 239, 0.50);
  outline-offset: -10px;
  overflow: hidden;
  background-color: rgba(43,33,58, .65);
  /* display: flex; */
  justify-content: center;
  text-align: center;
}


embed {
  /* display: none; */
    /* width: 100%; */
    width: 23vw;
    min-width: 300px;
    height: 100%;
    border: 0;
    padding: 1vh;
  }

.inner-text {
    
  position: relative;
  /* top: 3.5%; */
}

.footer-icons-row {
    position: relative;
    top: 80%;
    width: 100%;

}


.footer-icons{
    position: relative;
    display: inline;
    padding: .25vw;
    max-width: 50px;
    height: auto;
}

.social-icons{
  position: relative;
  top: 90%;
  width: 100%;
  padding-bottom: 3%;
}
img {
    width: 100%;
    max-width: 50px;
    height: auto;
    filter: grayscale(80%);
}



img:hover{
    filter: grayscale(0);
    transition: 500ms ease-out;
}

h1, h2, h3{
  margin: 0;
  padding: 0.25vh;
}

h4{
  margin: 0;
  padding: 3vh 0.25vh 0.25vh 0.25vh;
}

.header{
    position:relative;
    text-align: center;
    top: -5%;
    margin: 0;
    padding: 3%;

}

a{
  color:aqua
}

li {
  padding: -10;
  margin: 0;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 540px){
  .main-container{
    position: relative;
    top: 35%;
    /* height: 100vw; */
    width: 90vw;

  }
  body{
    background-image: url('');
    background-color: rgb(22, 22, 22);
    font-size: 1em;
  }

  img{
    /* width: 100%; */
    max-width: 1.5em;
    height: auto;
    filter: grayscale(0);   
  }


  .footer-icons{
    position: relative;
    display: inline;
    padding: .25vw;
    /* max-width: 10px; */
    height: auto;
}

.social-icons{
  position: relative;
  top: 90%;
  width: 100%;
}

  }